@font-face {
  font-family: "Safiro";
  src: url("./fonts/safiro-regular-i.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Safiro";
  src: url("./fonts/safiro-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Safiro";
  src: url("./fonts/safiro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

:root {
  --color-primary: #ed3c14;
  --border-radius-xs: 4px;
  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 10px;
  --border-radius-xl: 12px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  font-family: "Raleway", sans-serif;
}

body,
#root {
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
}

@keyframes anim1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes anim2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
